body {
    background-color: rgb(185, 185, 185);
}

.one {
    background-color: lightgray;
    padding: 40px;
    float: left;
  width: 25%;
  height: 850px; 
  padding: 20px

}
span {
    color: red;
}
h2 {
    font-family: georgia;
}
hr {
    color: black;
}
.two {
    padding: 20px;
    background-color: whitesmoke;
    float: left;
    width:41%;
    height: 850px;
    margin-bottom: 30px;
}
.all {
    margin-left: 320px;
    margin-top: 30px;

}


